{% load static %}
{% load wagtailmetadata_tags %}
{% load render_json_ld from json_ld %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap">

<link rel="stylesheet" href="{% static 'wagtail_code_blog/css/pygments.css' %}" />
<link rel="stylesheet" href="{% static 'wagtail_code_blog/css/markdown_code_blocks.css' %}" />
<link rel="stylesheet" href="{% static 'wagtail_code_blog/output.css' %}" />

{% if page.canonical_url %}
<link rel="canonical" href="{{ page.canonical_url }}">
{% endif %}

{% render_json_ld page_sd %}
{% meta_tags %}
